html.theme-dark {
  --bs-blue: #14213d;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #c00d31;
  --bs-orange: #fd7e14;
  --bs-yellow: #fca311;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-button: #9496a2;
  --bs-gray-100: #e5e5e5;
  --bs-gray-200: #cdcdcd;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #14213d;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #fca311;
  --bs-danger: #c00d31;
  --bs-light: #e5e5e5;
  --bs-dark: #131313;
  --bs-primary-rgb: 20,33,61;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 252,163,17;
  --bs-danger-rgb: 192,13,49;
  --bs-light-rgb: 229,229,229;
  --bs-dark-rgb: 19,19,19;
  --bs-primary-text-emphasis: #080d18;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #654107;
  --bs-danger-text-emphasis: #4d0514;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #d0d3d8;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #feedcf;
  --bs-danger-bg-subtle: #f2cfd6;
  --bs-light-bg-subtle: #f2f2f2;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #a1a6b1;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #fedaa0;
  --bs-danger-border-subtle: #e69ead;
  --bs-light-border-subtle: #cdcdcd;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
  --bs-body-font-family: "Nunito";
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #000;
  --bs-body-color-rgb: 0,0,0;
  --bs-body-bg: #e3e3e3;
  --bs-body-bg-rgb: 227,227,227;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0,0,0;
  --bs-secondary-color: rgba(0,0,0,.75);
  --bs-secondary-color-rgb: 0,0,0;
  --bs-secondary-bg: #cdcdcd;
  --bs-secondary-bg-rgb: 205,205,205;
  --bs-tertiary-color: rgba(0,0,0,.5);
  --bs-tertiary-color-rgb: 0,0,0;
  --bs-tertiary-bg: #e5e5e5;
  --bs-tertiary-bg-rgb: 229,229,229;
  --bs-heading-color: inherit;
  --bs-link-color: #14213d;
  --bs-link-color-rgb: 20,33,61;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #101a31;
  --bs-link-hover-color-rgb: 16,26,49;
  --bs-code-color: #d63384;
  --bs-highlight-color: #000;
  --bs-highlight-bg: #fcf8e3;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0,0,0,.175);
  --bs-border-radius: .25rem;
  --bs-border-radius-sm: .2rem;
  --bs-border-radius-lg: .3rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  --bs-box-shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075);
  --bs-box-shadow-lg: 0 .75rem 3rem rgba(0,0,0,.225);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0,0,0,.075);
  --bs-focus-ring-width: .25rem;
  --bs-focus-ring-opacity: .25;
  --bs-focus-ring-color: rgba(20,33,61,.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #c00d31;
  --bs-form-invalid-border-color: #c00d31;
  }
